<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHg1ypZZzyxZyq8oxzKJIsrbj-HfSE3eE</string>
	<key>GCM_SENDER_ID</key>
	<string>617989222905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.couplit</string>
	<key>PROJECT_ID</key>
	<string>couplit-65965</string>
	<key>STORAGE_BUCKET</key>
	<string>couplit-65965.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617989222905:ios:554a4bbdea8c31a87b0d28</string>
</dict>
</plist>